.details-modal {
    background: $ecruWhite;
    border: 5px solid $codGray;
    box-shadow: 0 0 0 300px rgba(128, 128, 128, .7);
    display: flex;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: $slowEase;
    width: 60%;
    @include media(desktopLarge) {
        width: 75%;
    }
    @include media(desktop) {
        width: 80%;
    }
    @include media(tabletLarge) {
        flex-direction: column-reverse;
        top: 15%;
        width: 90%;
    }
}

.fa-times {
    color: $cinnabar;
    font-size: 40px;
    position: fixed;
    text-shadow: 1px 3px #d3d3d3;
    top: -5%;
    right: -2.3%;
    transition: $ease;
    @include media(tabletLarge) {
      right: -2.5%;
    }
    @include media(mobile) {
      right: -4.6%;
    }
    @include media(mobileSmall) {
      right: -5.7%;
    }

    &:hover {
        @include transform(rotate(45deg));
    }
}

.detail-list {
    display: flex;
    flex-direction: column;
    margin: $vspace $vspace 0 0;
    @include media(desktop) {
      font-size: 16px;
    }
    @include media(tabletLarge) {
      margin-left: $vspace;
    }

    .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        width: 75%;
        @include media(desktop) {
            font-size: 20px;
            width: 70%;
        }
        @include media(desktop) {
            font-size: 18px;
            width: 60%;
        }
    }

    .rating {
        margin-right: $vspace;
        @include media(mobileSmall) {
          margin-right: 0;
        }

        .fa-star-o {
            color: $gold;
            font-size: 25px;
        }

        span {
            font-size: 25px;
        }

        .fa-star-o,
        span {
            @include media(desktop) {
                font-size: 20px;
            }
            @include media(tabletLarge) {
                font-size: 18px;
            }
        }
    }

    li {
        line-height: 24px;
        margin-bottom: 10px;

        &:first-child {
            display: flex;
            justify-content: space-between;
        }

        span {
            font-weight: 700;
        }
    }
}

.left-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media(tabletLarge) {
      justify-content: flex-start;
    }

    .modal-poster {
        align-self: center;
        height: 350px;
        margin: $vspace;
        @include media(desktop) {
          height: 300px;
        }
        @include media(desktop) {
          height: 250px;
        }
        @include media(tabletLarge) {
          display: none;
        }
    }

    .watchlist {
        align-self: center;
        color: $codGray;
        font-size: 20px;
        margin-bottom: $vspace;
        text-align: center;
        width: 100%;

        @include media(tabletLarge) {
          margin-top: $vspace;
        }

        .fa-plus {
            color: $cinnabar;
            margin-left: $hspace;

            &:hover {
                color: $codGray;
            }
        }
    }
}
