.details-modal {
    background: $ecruWhite;
    border: 5px solid $codGray;
    box-shadow: 0 0 0 300px rgba(128, 128, 128, .7);
    display: flex;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.fa-times {
    color: $cinnabar;
    font-size: 40px;
    position: fixed;
    text-shadow: 1px 3px #d3d3d3;
    top: -5%;
    right: -2.3%;
    transition: all 0.5s ease;

    &:hover {
        @include transform(rotate(45deg));
    }
}

.detail-list {
    display: flex;
    flex-direction: column;
    flex-wrap: flex;
    margin-top: $vspace;

    .title {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        width: 75%;
    }

    .rating {
        margin-right: $vspace;

        .fa-star-o {
            color: $gold;
            font-size: 25px;
        }

        span {
            font-size: 25px;
        }
    }

    li {
        line-height: 24px;
        margin-bottom: 10px;

        &:first-child {
            display: flex;
            justify-content: space-between;
        }

        span {
            font-weight: 700;
        }
    }
}

.left-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

    .modal-poster {
        align-self: center;
        height: 350px;
        margin: $vspace;
    }

    .watchlist {
        align-self: center;
        color: $codGray;
        font-size: 20px;
        margin-bottom: $vspace;
        text-align: center;
        width: 100%;

        .fa-plus {
            color: $cinnabar;
            margin-left: $hspace;

            &:hover {
                color: $codGray;
            }
        }
    }
}
