body.modal-open {
  @include filter(blur(20px));
}

.details-modal {
    background: $ecruWhite;
    border: 5px solid $codGray;
    display: flex;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;

    .fa-window-close-o {
      position: absolute;
    }

    .modal-poster {
        height: 350px;
        margin: $vspace;
    }

    .fa-times{
      color: $cinnabar;
      font-size: 40px;
      position: fixed;
      top: -5%;
      right: -2.3%;
    }

    .detail-list {
        display: flex;
        flex-direction: column;
        flex-wrap: flex;
        margin-top: $vspace;

        .title {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
            width: 75%;
        }

        .rating {
            margin-right: $vspace;

            .fa-star-o {
                color: $gold;
                font-size: 25px;
            }

            span {
                font-size: 25px;
            }
        }

        li {
            line-height: 24px;
            margin-bottom: 10px;

            &:first-child {
              display: flex;
              justify-content: space-between;
            }


            span {
              font-weight: 700;
            }
        }
    }
}
