.error-container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    transition: $slowEase;
    width: 60%;
    @include media(tablet) {
        width: 90%;
    }
    @include media(mobile) {
        flex-direction: column;
    }

    .fa-exclamation-triangle {
        align-self: center;
        color: $gold;
        font-size: 100px;
        margin-right: 30px;
        @include media(mobile) {
            font-size: 80px;
            margin: 0 0 $vspace;
        }
    }

    .error-message {
        color: $ecruWhite;
        font-family: $openSans;
        font-size: 30px;

        p {
            line-height: 48px;
            text-align: center;
            @include media(mobile) {
                font-size: 25px;
                line-height: 32px;
            }
        }
    }
}
