header {
    background: $codGray;
    display: flex;
    height: 100px;
    justify-content: space-between;

    .site-name {
        padding: 0 40px;

        a {
          color: $gold;
          font-family: $righteous;
          font-size: 40px;
          line-height: 100px;
          text-decoration: none;
        }
    }

    .watchlist-nav {
      color: $ecruWhite;
      font-size: 24px;
      font-family: $openSans;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 100px;
      padding: 0 40px;
      text-decoration: none;

      &:hover {
        color: $gold;
        cursor: pointer;
      }
    }
}
