header {
    background: $codGray;
    display: flex;
    flex-wrap: wrap;

    .site-name {
        font-family: $righteous;
        color: $gold;
        font-size: 40px;
        padding: 30px 40px;
    }
}
