.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1s ease;
    width: 100%;

    &.home {
        position: fixed;
        top: 30vh;

        .search-header {
            margin-bottom: 30px;
            text-align: center;
        }

        input {
            height: 100px;
            font-size: 80px;
            text-align: center;
            width: 60%;
            @include placeholder {
                color: rgba(255, 255, 255, .5);
            }
        }

        .fa-search {
            font-size: 80px;
            line-height: 100px;
        }
    }

    &.results {
        padding: 20px 0;
        position: relative;

        .search-header {
            font-size: 30px;
            margin-bottom: 0;
            line-height: 60px;
        }

        form {
            margin-left: 20px;

            input {
                background: $ecruWhite;
                color: $codGray;
                height: 60px;
                font-size: 40px;
                text-align: center;
                @include placeholder {
                    color: rgba(25, 23, 22, .5);
                }
            }
        }

        .fa-search {
            font-size: 60px;
            line-height: 60px;
            margin-left: 15px;
        }
    }

    .search-header {
        color: $gold;
        font-family: $openSans;
        font-size: 40px;
        font-weight: bold;
    }

    form {
        display: flex;
        justify-content: center;

        .fa-search {
            color: $ecruWhite;

            &:hover {
                color: $gold;
            }
        }

        .search-btn {
            background: $codGray;
            border: none;
        }

        input {
            background: $codGray;
            border: none;
            color: $ecruWhite;
            font-family: $openSans;
            font-weight: bold;
            outline: none;
        }
    }
}
