/****** Vendor Imports ******/
/********** Setup ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  height: 100vh;
  line-height: 1;
  width: 100vw; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #191716;
  font-family: "Open Sans", sans-serif; }

/***** Site Components ******/
header {
  background: #191716;
  display: flex;
  flex-wrap: wrap; }
  header .site-name {
    padding: 30px 40px; }
    header .site-name a {
      color: #F1D302;
      font-family: "Righteous", cursive;
      font-size: 40px;
      text-decoration: none; }

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all .7s ease;
  width: 100%; }
  .search.home {
    position: fixed;
    top: 30vh; }
    .search.home .search-header {
      margin-bottom: 30px;
      text-align: center; }
    .search.home input {
      height: 100px;
      font-size: 80px;
      text-align: center;
      width: 60%; }
      .search.home input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .search.home input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .search.home input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .search.home input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
    .search.home .fa-search {
      font-size: 80px;
      line-height: 100px; }
  .search.results {
    padding: 20px 0;
    position: relative; }
    .search.results .search-header {
      font-size: 30px;
      margin-bottom: 0;
      line-height: 60px; }
    .search.results form {
      margin-left: 20px; }
      .search.results form input {
        background: #F6F7EB;
        color: #191716;
        height: 60px;
        font-size: 40px;
        text-align: center; }
        .search.results form input::-webkit-input-placeholder {
          color: rgba(25, 23, 22, 0.5); }
        .search.results form input::-moz-placeholder {
          color: rgba(25, 23, 22, 0.5); }
        .search.results form input:-moz-placeholder {
          color: rgba(25, 23, 22, 0.5); }
        .search.results form input:-ms-input-placeholder {
          color: rgba(25, 23, 22, 0.5); }
    .search.results .fa-search {
      font-size: 60px;
      line-height: 60px;
      margin-left: 15px; }
  .search .search-header {
    color: #F1D302;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: bold; }
  .search form {
    display: flex;
    justify-content: center; }
    .search form .fa-search {
      color: #F6F7EB; }
      .search form .fa-search:hover {
        color: #F1D302; }
    .search form .search-btn {
      background: #191716;
      border: none; }
    .search form input {
      background: #191716;
      border: none;
      color: #F6F7EB;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      outline: none; }

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all .7s ease; }

.result {
  background: #F6F7EB;
  display: flex;
  margin: 20px;
  transition: all .7s ease;
  width: 350px; }
  .result .movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 10px; }
    .result .movie-details .title {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px; }
      .result .movie-details .title span {
        font-weight: 500; }
    .result .movie-details .more-info {
      color: #191716; }
    .result .movie-details .watchlist {
      font-size: 16px; }
      .result .movie-details .watchlist .fa-plus {
        margin-left: 10px; }

.search-terms {
  color: #F6F7EB;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center; }
  .search-terms span {
    color: #F1D302;
    font-weight: 700; }

.poster {
  height: 200px;
  margin: 15px; }

/*# sourceMappingURL=main.css.map */
